{% extends 'accounts/main.html' %}
{% load static %}
{% block anon %}
  <header id="showcase" style="background-image: url({% static 'accounts/images/Vatican.jpg' %});">
    <div class="box">
      <img class="fade-in" src="{% static 'accounts/images/homeInfoNew.png' %}" style="opacity: 0.85;">
      <div class="text">
        <h1 class="fade-in">Welcome</h1>
        <p class="fade-in">We are delighted to serve you.</p>
        <a href="" class="button fade-in">Learn More</a>
      </div>
    </div>
  </header>
  <section id="section-a">
    <p style="font-size: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>
  <section id="section-bar" style="background-image: url({% static 'accounts/images/bar-glass-wine.jpg' %});">
    <div class="container">
      <div class="card card-body" style="opacity: 0.7; border: 1px solid; board-radius: 20px;">
        <p class="fade-in" style="font-size: 30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </section>
  <section id="section-b">
    <p style="font-size: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>
  <section id="section-clubs" style="background-image: url({% static 'accounts/images/Clubs.jpg' %});">
    <div class="container">
      <div class="card card-body" style="opacity: 0.7; border: 1px solid; board-radius: 20px;">
        <p class="fade-in" style="font-size: 30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </section>
  <section id="section-c">
    <p style="font-size: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>
  <section id="section-services" style="background-image: url({% static 'accounts/images/Service.jpg' %});">
    <div class="container">
      <div class="card card-body" style="opacity: 0.7; border: 1px solid; board-radius: 20px;">
        <p class="fade-in" style="font-size: 30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </section>
  <section id="section-d">
    <p style="font-size: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>
  <section id="section-wine-cellar" style="background-image: url({% static 'accounts/images/WineCellar.jpg' %});">
    <div class="container">
      <div class="card card-body" style="opacity: 0.7; border: 1px solid; board-radius: 20px;">
        <p class="fade-in" style="font-size: 30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </section>
  <section id="section-contact">
    <h1>Contact Us:</h1>
    <h5>(777)777-7777 | thedollarsnightclub@gmail.com</h5>
    <br>
    <h5 style="font-size: 30px;">Hours of Operation:</h5>
    <p style="font-size: 20px;">Monday: 5:00 PM - 12:00 AM</p>
    <p style="font-size: 20px;">Tuesday: 5:00 PM - 12:00 AM</p>
    <p style="font-size: 20px;">Wednesday: 5:00 PM - 12:00 AM</p>
    <p style="font-size: 20px;">Thursday: 5:00 PM - 12:00 AM</p>
    <p style="font-size: 20px;">Friday: 5:00 PM - 2:00 AM</p>
    <p style="font-size: 20px;">Saturday: 5:00 PM - 2:00 AM</p>
    <p style="font-size: 20px;">Sunday: CLOSED</p>
  </section>
{% endblock %}
